<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/static/images/icon.jpg" />
    <title>Doctors Portal</title>
    <link rel="stylesheet" type="text/css" href="/static/docmain.css" />
    <script src="/static/docmain.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <div class="header">
    <h3>Hi {{ session.admin_email }}  <a href="/doclogout">Signout</a></h3>
  </div>
  
  <div class="sub-header">
   <ul>
     <li><b><a href="{{url_for('profileupdate')}}" target="_blank">Update Profile</a></b></li>
     <li><b><a href="{{url_for('paymentlogs')}}">Payments</a></b></li>
     <li><b><a href="#">Medical Prescription Portal</a></b></li>
     {% for i in docmeeting %}
     <li><b><a href="{{i.docmeet}}" target="_blank">Give Counselling</a></b></li>
     {% endfor %}
   </ul>
  </div>


<div class="patient-list">

  <h2> <center>Councelling List</center></h2>
  <ul>
    {% for row in bookingList %}
    <li>
       <div class="councelling-data">
           <b>Name:</b> {{row.name}} <br>
           
           <b> Email Address:</b> {{row.email}}<br>
           <b> Phone Number:</b> {{row.docphno}}<br>
           <b> Issues:</b> {{row.issues}}<br>
           <b>Days:</b>{{row.days}}<br>
           <b>Dates:</b>{{row.dates}}<br><br>
           <p><a href="mailto:{{row.email}}"><b><font-color="indigo">Reply</font-color></b></a></p>
           
         
        </div>
    </li><br>
    {% endfor %}
 </ul>
</div>





  
</html>
