<html>
    <head>
        <title>Update Profile</title>
        <link rel="icon" href="/static/images/icon.jpg" />
        <link rel="stylesheet" type="text/css" href="/static/docprofileupdate.css" />
    </head>
    <body>
<div>
    <div class="profile-main">
        <form method="post" action="/profileupdate">
          <h4>Basic Information</h4>
          <input id="name" name="d_name" placeholder="Your Name" required /><br />
          <input id="age" name="d_age" placeholder="Your Age" required /><br />
          <input
            type="email"
            id="email"
            name="d_email"
            placeholder="Your Email"
            required
          /><br />
          <input
            id="phno"
            name="d_phno"
            placeholder="Your Phone Number"
            required
          /><br />
          <input
            id="phno2"
            name="d_phno2"
            placeholder="Your Alternate Phonenumber"
            required
          /><br />
    
          <h4>Education</h4>
          <br />
          <input
            id="degree"
            name="d_degree"
            placeholder="Your Degree"
            required
          /><br />
          <input
            id="speci"
            name="d_speci"
            placeholder="Your Specialization"
            required
          /><br />
          <input
            id="speci"
            name="d_clg"
            placeholder="University Name"
            required
          /><br />
          <input
            id="speci"
            name="d_rank"
            placeholder="Rank or Percentage"
            required
          /><br />
    
          <h4>Experience</h4>
          <br />
          <input
            id="exp"
            name="d_exp"
            placeholder="Your Years of Experience"
            required
          /><br />
          <input
            id="exp"
            name="d_hosp"
            placeholder="Hospital Name"
            required
          /><br />
          <h4>Treatment Category</h4>
          <input
            id="exp"
            name="d_treat"
            placeholder="Treatment Type"
            required
          /><br />
          <br />
          <h4>Fees Details</h4>
          <br />
    
          <input
            id="exp"
            name="d_fees"
            placeholder="Fee for per member"
            required
          /><br />
    
          <h4>Meet Details</h4>
          <br />
    
          <input id="exp" name="d_meet" placeholder="Meet Link" required /><br />
          <input
            id="exp"
            name="d_days"
            placeholder="Available Days"
            required
          /><br />
          <input
            id="exp"
            name="d_time"
            placeholder="Available Timings"
            required
          /><br />
          <input
            id="exp"
            name="d_status"
            placeholder="Status Update(Active or Inactive)"
            required
          /><br />
         <button type="submit" id="btn">Submit</button>
        </form>
      </div>
      </div>

</body>
</html>