body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a{
    text-decoration: none;
    color: white;
}
.header{
    background-color: indigo; 
    color:white;
    height: 50px;
    padding-top: 5px;
    padding-left: 30px;
 
}
.header a{
    padding-left:1100px;
}
.sub-header{
    background-color:rgb(84, 159, 119);
    height:50px;width:1520px;
    display: inline-flex;
}
.sub-header h3{
    padding-left: 50px;cursor: pointer;
}

.sub-header ul{
    display: inline-flex;
    list-style: none;
}
.sub-header li{
    margin-left: 30px;
    font-style: bold;
}
.councelling-data{
    width:500px;
    height: 200px;
    padding-left: 50px;
    padding-top: 20px;
    margin-left: 500px;
    background-color: rgb(225, 239, 225);
    border-radius: 10px;

}
ul li{
    list-style: none;
}
.patient-list ul li a{
    color:indigo;
} 