<html>
    <head>
        <title> Book Now</title>
        <link rel="icon" href="/static/images/icon.jpg" />
        <link rel="stylesheet" type="text/css" href="/static/Bookings.css" /></head>
    </head>
    <body>
       <center><h3>Book your Seat !</h3></center>
        <div class="book">
          
            <form action="/bookings" method="post">
                <input type="text"placeholder="Name" name="name" id="name"><br><br>
                <input type="email"placeholder="Email ID" name="email" id="email"><br><br>
                <input type="email"placeholder="Dcotors Email ID" name="demail" id="demail"><br><br>
                <input type="Issues" placeholder="Mention the issues" name="issues" id="issues"><br><br>
                <input type="text" placeholder="Consulting Days" name="cdays" id="day"><br><br>
                <input type="text" placeholder="Consulting Date" name="cdates" id="date"><br><br>
                <input type="submit" id="submit"value="submit">
            </form>
        </div>
    </body>
</html>