<!DOCTYPE html>
<html>
    <head>
        <title>HomeAmend Engine</title>
        <link rel="stylesheet" type="text/css" href="/static/Browse.css" />
<script src="/static/Browse.js"></script>
<link rel="icon" href="/static/images/icon.jpg" />

    </head>
    <body>
        <div class="header">
            <h3>HomeAmend Engine</h3>
        </div>
        <div class="about">
            <h3>HomeAmend is your home friend useful to get a homemade treatments for your health issues.</h3>
        </div>
        <div class="main">
            <h3>Get your Remedies !</h3><br>
            <h3>Select any issues
            <select id="issues">
                <option>Cold</option><option>Fever</option><option>Stomach Pain</option><option>Head Ache</option><option>Vomit</option><option>Acidity</option>
                <option>Tooth Pain</option><option>Hairfall</option><option>Eye Irritation</option><option>Obisity</option><option>Pimple</option><option>Loosemotion</option><option>Diabetes</option>
               </select></h3>
            <div  class="get-btn" onclick="solution()">Get</div>
            <div class="text">
                <textarea id="textarea" readonly></textarea>
            </div>
            </div>
        <div id="footer"><h3>Made with ❤</h3></div>
    </body>
</html>
 