<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/static/images/icon.jpg" />
        <title>Delivery Details</title>
        <link rel="stylesheet" type="text/css" href="/static/deliverydetails.css">
        <style>
            .main{
                border-radius: 5px;
                margin-left: 500px;
                margin-top: 50px;
                background-color: rgb(205, 225, 225);
                width:500px;
                height: 300px;
            }
            form{
                padding-top: 20px;padding-left: 50px;
            }
        </style> 
    </head>
    <body>
       <center><h3>Delivery Details</h3></center>
        <div class="main">
            
            <form method="post" action="" >
               <h3>Name:<input type="text" name="name" id="name"></h3>
               <h3>Email ID:<input type="text" name="email" id="email"></h3>
               <h3>Address:<input type="text" name="address" id="address"></h3>
               <h3>Phone Number:<input type="text" name="phno" id="phno"></h3>
               <input type="submit" id="submit">
             
            </form>
        </div>
    </body>
</html>