<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/static/images/icon.jpg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{{session.u_email}}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script src="/static/main.js"></script>
    </head>
    <body>
        <div class="header">
            
            <h3>
                Hi {{session.u_email}}  <a href="#" onclick="mainnavbar()" id="navbar"><i class="fa fa-bars"></i></a>
            </h3>
           
        </div>
        <div class="row">
            <div class="column1">
            <form method="post" action="/main">
                <input id="age" name="u_email" placeholder="Your Email" required><br>
                <input id="name" name="u_name" placeholder="Your Name" required ><br>
                <input id="age" name="u_age" placeholder="Your Age" required><br>
                <input id="blood" name="u_blood" placeholder="Your Blood group" required><br>
                <input id="mobile" name="u_mobile" placeholder="Your Phone Number" required><br>
                <h4>Health Issues</h4>
                <h4>Select your primary part of body</h4>
                <select id="issues" name="u_issues" required >
                    <option>--</option>
                    <option>Head</option>
                    <option>Muscles</option><option>Mouth and Tooth</option><option>Stomach</option><option>Internal issues</option>
                    <option>Abdominal</option><option>Bones</option><option>Others</option>
                
                </select><br>
                <h4>Detail information</h4>
                <textarea id="description" name="u_msg" required>Write about your problem</textarea><br>
                
                
                
                
                <button type="submit"  id="btn">Submit</button><br>
           
            </form>
                </div>
                <div class="column2">
                     
                </div></div>
         </body>
</html>